.hide-scrollbar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}


body::-webkit-scrollbar{

    /* border-radius: 10px; */
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #0000;
    cursor: pointer;

}

body::-webkit-scrollbar-track{

    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	/* border-radius: 10px; */
	background-color: #0000;
    cursor: pointer;

}

body::-webkit-scrollbar-thumb{

    border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #343333;
    cursor: pointer;
    height: 10px;

}

body::-webkit-scrollbar {
    
    width: 9px;
    /* height: 10px; */
    cursor: pointer;

}




.scrollbar::-webkit-scrollbar{

    /* border-radius: 10px; */
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #0000;
    cursor: pointer;

}

.scrollbar::-webkit-scrollbar-track{

    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	/* border-radius: 10px; */
	background-color: #0000;
    cursor: pointer;

}

.scrollbar::-webkit-scrollbar-thumb{

    border-radius: 19px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #343333;
    cursor: pointer;
    height: 3px;

}

.scrollbar::-webkit-scrollbar {
    
    width: 8px;
    /* height: 10px; */
    cursor: pointer;

}
.blur{
    filter: blur(10px)}